version: '2.20.3'
services:
  db:
    image: postgres:17.0-alpine
    container_name: database
    ports:
      - "127.0.0.1:6432:5432"
    environment:
      - POSTGRES_DB=build-and-roll
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root